@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background: #1a1a1a;
  --dark: #121217;
  --white: #ffffff;
  --main: #ec4d87;
  --secondary: #515c7c;
  --third: #03000f;

  --shadow: 0px 0px 10px 3px #00000030;
  --shadow-hover: 0px 0px 15px 6px #00000020;

  --gap: 10px;
  --low-white: #ffffff20;
  --low-dark: #00000999;
  --blur: blur(25px);
  --border: 2px solid #ffffff30;
}
h1 {
  font-size: 2.986rem;
  text-transform: uppercase;
  font-weight: bolder;
}
h2 {
  font-size: 2.488rem;
}
h3 {
  font-size: 2.074rem;
}
h4 {
  font-size: 1.728rem;
}
h5 {
  font-size: 1.44rem;
}
h6 {
  font-size: 1.2rem;
  font-weight: 550;
}
p {
  font-size: 1rem;
}
small {
  font-size: 0.833rem;
}
a {
  font-size: 1rem;
  text-decoration: none;
}
/*========== FLexbox ==========*/
.fRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}
.fCol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}
.fCol-start{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap);
}
.fRow-between{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}
/*============ Body ============*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  transition: 0.2s ease;
  display: none;
}
nav{
  position: fixed;
  top: 10px;
  right: 10px;
  height: calc(100vh - 20px);
  width: 80px;
  border-radius: 10px;
  backdrop-filter: blur(25px);
  display: none;
}
section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  position: relative;
  height: 100vh;
  padding: 60px;
}
.hero{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.hero iframe{
  width: 140%;
  position: absolute;
  left: -20%;
  top: 0;
  z-index: 0;
}
.hero h1{
  text-align: center;
}
.hero h3{
  text-transform: uppercase;
}
.hero .header{
  position: absolute;
  z-index: 2;
  gap: 0px;
  bottom: 0px;
  left: 0px;
  animation: --move-header ease forwards;
  animation-timeline: scroll();
  animation-range: 0vh 50vh;
  width: 100vw;
  padding: 60px;
  background-color: transparent;
}
@keyframes --move-header{
  to{
    background-color: var(--main);
  }
}





























































/*
button {
  height: 54px;
  width: 240px;
  border-radius: 27px;
  outline: none;
  border: none;
  background-color: var(--main);
  box-shadow: var(--shadow);
  color: var(--white);
  cursor: pointer;
  transition: 0.2s ease;
}
button:hover {
  box-shadow: var(--aShadow);
  scale: 1.06;
}
*/


/*
.screen .information {
  width: 100%;
  height: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.25s ease;
  color: var(--white);
  opacity: 0;
  backdrop-filter: blur(25px);
  background-color: #00000999;
}
.screen:hover .information {
  opacity: 1;
}*/



/*
.information .menu,
.information button {
  width: 200px;
  height: 44px;
  border-radius: 22px;
  background-color: transparent;
  border: 2px solid #ffffff30;
  cursor: pointer;
}
.information button.selectedbtn{
  background-color: #ffffff25;
}
.information button:hover {
  scale: 1;
  background-color: #ffffff25;
  border: 2px solid #ffffff25;
}
.information .options{
  width:44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  opacity: 0.8;
  position: relative;
  text-align: center;
  line-height: normal;
}
.information .options span{
  color: var(--white);
  text-align: center;
  line-height: normal;
}
.information .options .menu{
  position: absolute;
  left: 30px;
  width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 30px 18px;
  text-align: left;
  opacity: 0;
  transition: 0.2s ease;
  pointer-events: none;
  background-color: #ffffff20;
  cursor: default;
}
.information .options .expandMenu{
  left: 60px;
  opacity: 1;
  pointer-events: unset
}
.information .options .menu .git{
  padding: 4px 3px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ffffff20;
  border-top: 1px solid #ffffff00;
}
.information .options .menu p{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 3px 4px;
  border-radius: 3px;
}
.information .options .menu p:hover{
  background-color: #ffffff20;
}
*/