@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background: #1a1a1a;
  --dark: #121217;
  --white: #ffffff;
  --main: #ec4d87;
  --secondary: #515c7c;
  --third: #03000f;
  --shadow: 0px 0px 10px 3px #00000030;
  --aShadow: 0px 0px 15px 6px #00000020;
}
h1 {
  font-size: 2.986rem;
  text-transform: uppercase;
  font-weight: bolder;
}
h2 {
  font-size: 2.488rem;
}
h3 {
  font-size: 2.074rem;
}
h4 {
  font-size: 1.728rem;
}
h5 {
  font-size: 1.44rem;
}
h6 {
  font-size: 1.2rem;
  font-weight: 550;
}
p {
  font-size: 1rem;
}
small {
  font-size: 0.833rem;
}
a {
  font-size: 1rem;
  text-decoration: none;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.row-start {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}
.row-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.text-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 2000vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  transition: 0.2s ease;
  scroll-behavior: smooth;
  gap: 10vh;
}
button {
  height: 54px;
  width: 240px;
  border-radius: 27px;
  outline: none;
  border: none;
  background-color: var(--main);
  box-shadow: var(--shadow);
  color: var(--white);
  cursor: pointer;
  transition: 0.2s ease;
}
button:hover {
  box-shadow: var(--aShadow);
  scale: 1.06;
}
button.blue-btn {
  background-color: var(--secondary);
}
button.dark-btn {
  background-color: var(--third);
}
button.inline-btn {
  background-color: transparent;
  border: 2px solid var(--secondary);
  color: var(--secondary);
}
button.inline-btn-pink {
  background-color: transparent;
  border: 2.2px solid var(--main);
  color: var(--main);
}
button.inline-btn-pink h6 {
  font-weight: 700;
}
.continer {
  height: 600vh;
  position: relative;
  width: 100vw;
}
.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  width: 100vw;
  padding-top: 5vh;
  position: sticky;
  top: 0;
  margin-bottom: 25vh;
}
.hero .pro-display {
  width: 60%;
  height: fit-content;
  position: relative;
  transform-origin: top;
  transform: translateY(-5vh);
  scale: 1.8;
  animation: --minimize ease forwards;
  animation-timeline: scroll();
  animation-range: 0vh 400vh;
  transform: translateY(-8vh);
}
.hero .pro-display img {
  width: 100%;
}
.hero .pro-display .insider {
  height: 73.8%;
  width: 97.6%;
  background-color: var(--white);
  border-radius: 4px;
  position: absolute;
  top: 1.75%;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
}
@keyframes --minimize {
  75% {
    scale: 1;
    transform: translateY(0vh);
  }
  100% {
    scale: 1;
    transform: translateY(25vh);
  }
}
.title {
  width: 60%;
}
.hero .title {
  animation: --appearTitle ease forwards;
  animation-timeline: scroll();
  animation-range: 300vh 400vh;
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 20vh;
}
@keyframes --appearTitle {
  to {
    opacity: 1;
    top: 10vh;
  }
}
.screen,
.insider {
  padding: 60px;
  color: #000000;
  gap: 30px;
}
.screen .text,
.insider .text {
  scale: 0.6;
  transform-origin: left;
}
.screen .text p,
.insider .text p {
  margin-bottom: -5px;
}
.screen .row-start,
.insider .row-start {
  margin-top: 10px;
  gap: 12px;
}
.screen img,
.insider img {
  height: 100vh;
  position: absolute;
  left: 50%;
}
section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  gap: 30px;
  position: relative;
  padding-top: 5vh;
}
.continer section {
  position: sticky;
  top: 0;
}
.mac-display {
  width: 70vw;
  position: relative;
  height: fit-content;
  animation: --card-slide ease forwards;
  scale: 0.6;
  animation-timeline: scroll();
  pointer-events: none;
}
.mac-display img {
  width: 100%;
}
.mac-display .screen {
  position: absolute;
  width: 79.9%;
  height: 89.2%;
  margin-bottom: 3%;
  border-radius: 10px;
  margin-left: 0.4%;
  background-color: var(--white);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border: 3px solid var(--dark);
}

.carousel {
  width: 500vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translateX(200vw);
  animation: --carousel ease forwards;
  animation-timeline: scroll();
  animation-range: 900vh 1800vh; /*before section 2 this was 600vh 1500vh*/
}
@keyframes --carousel {
  0%,
  10% {
    transform: translateX(200vw);
  }
  22.5%,
  32.5% {
    transform: translateX(100vw);
  }
  45%,
  55% {
    transform: translateX(0vw);
  }
  68.5%,
  78.5% {
    transform: translateX(-100vw);
  }
  90%,
  100% {
    transform: translateX(-200vw);
  }
}
.carousel::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  animation: --block-click ease;
  animation-timeline: scroll();
  animation-range: 900vh 1800vh;
  display: block;
}
@keyframes --block-click {
  0%,
  10% {
    display: none;
  }
  11%,
  21.5% {
    display: block;
  }
  22.5%,
  32.5% {
    display: none;
  }
  33.5%,
  44% {
    display: block;
  }
  45%,
  55% {
    display: none;
  }
  56%,
  67.5% {
    display: block;
  }
  68.5%,
  78.5% {
    display: none;
  }
  79.5%,
  89% {
    display: block;
  }
  90%,
  100% {
    display: none;
  }
}
.carousel-cont {
  height: 1000vh;
}

#mac1 {
  animation-range: 787.5vh 1102.5vh;
}
#mac1 .screen {
  background-image: url(project01.png);
}
#mac2 .screen {
  background-image: url(image.png);
}
#mac2 {
  animation-range: 990vh 1305vh;
}
#mac3 {
  animation-range: 1192.5vh 1516.5vh;
}
#mac4 {
  animation-range: 1395vh 1710vh;
}
#mac5 {
  animation-range: 1606.5vh 1912.5vh;
}
@keyframes --card-slide {
  0%,
  100% {
    scale: 0.6;
    pointer-events: none;
  }
  30%,
  70% {
    scale: 1;
    pointer-events: unset;
  }
}

.screen .information {
  width: 100%;
  height: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.25s ease;
  color: var(--white);
  opacity: 0;
  backdrop-filter: blur(25px);
  background-color: #00000999;
}
.screen:hover .information {
  opacity: 1;
}
.information .text-col {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px 20%;
  transition: 0.2s ease;
  padding-top: 50px;
}
.information .moveleft{
  padding-left: 8%;
  padding-right: 32%;
}
.text-col h4,
.text-col p{
  width: 100%;
}
span {
  color: var(--main);
}
.information .menu,
.information button {
  width: 200px;
  height: 44px;
  border-radius: 22px;
  background-color: transparent;
  border: 2px solid #ffffff30;
  cursor: pointer;
}
.information button.selectedbtn{
  background-color: #ffffff25;
}
.information button:hover {
  scale: 1;
  background-color: #ffffff25;
  border: 2px solid #ffffff25;
}
.information .options{
  width:44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  opacity: 0.8;
  position: relative;
  text-align: center;
  line-height: normal;
}
.information .options span{
  color: var(--white);
  text-align: center;
  line-height: normal;
}
.information .options .menu{
  position: absolute;
  left: 30px;
  width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 30px 18px;
  text-align: left;
  opacity: 0;
  transition: 0.2s ease;
  pointer-events: none;
  background-color: #ffffff20;
  cursor: default;
}
.information .options .expandMenu{
  left: 60px;
  opacity: 1;
  pointer-events: unset
}
.information .options .menu .git{
  padding: 4px 3px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ffffff20;
  border-top: 1px solid #ffffff00;
}
.information .options .menu p{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 3px 4px;
  border-radius: 3px;
}
.information .options .menu p:hover{
  background-color: #ffffff20;

}
.information .divider{
  height: 35px;
  width: 2px;
  background-color: #ffffff20;
  border-radius: 1px;
}
.information small {
  margin-bottom: -5px;
}
.information .text-col::-webkit-scrollbar {
  display: none;
}
.information .text-col{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.information .text-col .row-start{
  margin-bottom: 15px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}
.information .text-col img {
  width: 100%;
  border-radius: 12px;
  position: unset;
  height: unset;
  margin-top: 6px;
  box-shadow: 0px 0px 10px 5px #00000020;
}
.information img {
  cursor: pointer;
}

.grid .box {
  width: 20%;
  border: 2px solid var(--white);
  height: 100%;
  border-radius: 10px;
}
.grid .row{
  width: 100%;
  gap: 20px;
  height: 100%;
}
.grid .box.dobble {
  width: calc(40% + 20px);
}
.grid{
  width: 100%;
  padding: 30px;
  gap: 20px;
  height: 100%;
}
.grid-section{
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
  gap: 10px;
}
.gridcontiner{
  height: 280vh;
}
